@media (min-width: 2560px) {
  nav {
    max-width: 2560px;
    font-size: 2.5rem;
    height: 6rem;
  }

  .content {
    width: 9.5rem;
  }

  .content a {
    font-size: 1.5rem;
  }

  .h1 {
    font-size: clamp(2.5rem, 5vw, 7rem);
  }

  h3 {
    font-size: 4rem;
  }

  .subContainer2 p,
  .subContainer p {
    font-size: 2.2rem;
  }

  .subContainer p {
    line-height: 4rem;
  }

  .footer-links a, .social-links a, .lang a {
    font-size: 1.8rem;
  }
}

@media (min-width: 1536px) {
  nav {
    max-width: 1536px;
    font-size: 1.5rem;
  }

  .h1 {
    font-size: clamp(3rem, 4vw, 5rem);
  }

  h3 {
    font-size: 2.5rem;
  }

  .subContainer2 p,
  .subContainer p {
    font-size: 1rem;
  }

  .subContainer p {
    line-height: 2.5rem;
  }

  .footer-links a, .social-links a, .lang a {
    font-size: 2rem;
  }
}

@media (max-width: 1536px) {
  nav {
    max-width: 1280px;
    margin: auto;
  }

  .h1 {
    font-size: 4.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  #h3 {
    font-size: 2rem;
  }
}

@media (max-width: 1280px) {
  nav, .content > a {
    max-width: 1024px;
    font-size: 1rem;
    margin: auto;
  }

  .h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  #h3 {
    font-size: 1.7rem;
  }

  .text .h1 {
    line-height: 6rem;
  }
}

@media (max-width: 1024px) {
  nav, .content > a {
    max-width: 768px;
    font-size: 0.9rem;
    margin: auto;
  }

  .fa-fire {
    position: absolute;
    left: 5rem;
    color: var(--linkCol);
  }

  .h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.45rem;
  }

  #h3 {
    font-size: 1.8rem;
  }

  .text .h1 {
    line-height: 6rem;
  }
}

@media (max-width: 800px) {
  nav, .content > a {
    max-width: 670px;
    font-size: 0.9rem;
  }

  .fa-fire {
    position: absolute;
    left: 4rem;
    color: var(--linkCol);
  }

  h3 {
    font-size: 1.6rem;
  }

  .text .h1 {
    line-height: 6rem;
  }
}

@media (max-width: 768px) {
  nav, .content > a {
    max-width: 100%;
    border-radius: 0%;
    border-bottom: none;
  }

  .dropdown i {
    display: none;
  }

  .hideOnMobile {
    display: none;
  }

  .menu {
    display: block;
  }

  .fa-fire {
    position: absolute;
    left: 4rem;
    color: var(--linkCol);
  }

  .h1 {
    font-size: clamp(3rem, 6vw, 4.3rem);
  }

  h3 {
    font-size: 1.5rem;
  }

  .text .h1 {
    line-height: 6rem;
  }

  form.container {
    padding: 2rem;
    width: 100%;
  }

  .form-control {
    font-size: 0.9rem;
  }

  .btn-danger {
    width: 100%;
  }

  .row {
    flex-direction: column;
  }

  .footer-links a, .social-links a, .lang a {
    font-size: 1.1rem;
  }
}

@media (max-width: 645px) {
  .fa-fire {
    position: absolute;
    left: 4rem;
    color: var(--linkCol);
  }

  .h1 {
    font-size: 3.5rem;
  }

  .text .h1 {
    line-height: 6rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 540px) {
  .fa-fire {
    position: absolute;
    left: 4rem;
    color: var(--linkCol);
    font-size: 2rem;
  }

  .h1 {
    font-size: 3.4rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  .text .h1 {
    line-height: 7rem;
  }

  .footer-links a, .social-links a, .lang a {
    font-size: 1rem;
  }
}

@media (max-width: 475px) {
  .fa-fire {
    position: absolute;
    left: 3rem;
    color: var(--linkCol);
    font-size: 1.5rem;
  }

  .dropdown .fa-arrow-down {
    display: none;
  }

  .h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1rem;
  }

  #h3 {
    font-size: 1.8rem;
  }

  .text .h1 {
    line-height: 6rem;
  }
}

@media (max-width: 430px) {
  .dropdown .fa-arrow-down {
    display: none;
  }

  .h1 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 0.85rem;
  }

  #h3 {
    font-size: 1.7rem;
  }
}

@media (max-width: 395px) {
  .dropdown .fa-arrow-down {
    display: none;
  }

  .sidebar {
    width: 100%;
  }

  .text .h1 {
    line-height: 4.5rem;
  }

  .h1 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  #h3 {
    font-size: 1.3rem;
  }
}

@media (max-width: 385px) {
  .dropdown .fa-arrow-down {
    display: none;
  }

  .h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  #h3 {
    font-size: 1rem;
  }
}

@media (max-width: 376px) {
  .dropdown .fa-arrow-down {
    display: none;
  }

  .h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  #h3 {
    font-size: 1rem;
  }
}

@media (max-width: 355px) {
  .dropdown .fa-arrow-down {
    display: none;
  }

  .h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  h2, h4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subContainer2 {
    padding: 10px;
    max-width: 90%;
    margin-left: 1.3rem;
  }
}

@media (max-width: 345px) {
  .dropdown .fa-arrow-down {
    display: none;
  }

  h2, h4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .h1 {
    font-size: 2.4rem;
  }

  .subContainer > p {
    font-size: 0.7rem;
    margin-left: 15px;
    text-align: center;
  }

  .subContainer2 {
    padding: 10px;
    max-width: 90%;
    margin-left: 1.3rem;
  }

  #boxWrapper {
    max-width: 85%;
    margin-left: 1.2rem;
  }
}

@media (max-width: 320px) {
  .dropdown .fa-arrow-down {
    display: none;
  }

  .h1 {
    font-size: 2rem;
  }

  .subContainer p {
    font-size: 0.7rem;
  }

  #boxWrapper {
    max-width: 85%;
    margin-left: 0.7rem;
  }

  .footer-links a, .social-links a {
    font-size: 1rem;
  }
}

@media (max-width: 280px) {
  .h1 {
    font-size: 1.9rem;
  }

  .subContainer p {
    font-size: 0.6rem;
  }

  #boxWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

  .footer-links a, .social-links a {
    font-size: 1rem;
  }
}

@media (max-height: 480px) {
  #up {
    bottom: 25%; /* Move it up */
  }

  #down {
    bottom: 5%; /* Move it up */
  }
}

@media (max-height: 430px) {
  .text .h1 {
    line-height: 4rem;
    font-size: 3rem;
   }
  
   h3 {
    font-size: 1.5rem;
   }
}

@media (max-height: 355px) {
  .text .h1 {
    line-height: 3rem;
    font-size: 2.5rem;
   }
  
   h3 {
    font-size: 1rem;
   }
}

@supports not (grid-template-columns: subgrid) {
  .subContainer2, figure, .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@supports (animation-timeline: auto) {
  .anim {
    animation-timeline: view(80% 20%);
  }
}